<li {{action "scrollToContent"}}>{{#link-to "index.product"}}Pre-Product{{/link-to}}</li>
<li {{action "scrollToContent"}}>{{#link-to "index.traction"}}Pre-Traction{{/link-to}}</li>
<li {{action "scrollToContent"}}>{{#link-to "index.seed"}}Pre-Seed{{/link-to}}</li>